@use '../abstracts/' as *;

.hero {
    padding: $spacing-800 $spacing-250 0rem;

    h1 {
        @include text(2.5rem, 800, 1.2);
        padding-bottom: $spacing-300;
        color: $blue-900;
    }
    
    p {
        color: $grey;
        @include text(1.125rem, 500, 1.5);
        padding-bottom: $spacing-500;
    }
    
    &__content {
        margin-bottom: $spacing-600;
    }

    &__img {
        &--mobile {
            max-width: 100%;
        }
        &--tablet {
            display: none;
        }
        &--desktop {
            display: none;
        }
    }
}

.content {
    padding: 0rem $spacing-250 $spacing-1000;
    background: linear-gradient(to bottom, #ffffff, #f0f1ff);

    &__callout {
        @include button-gradient(to top, $gradient-pink-start, $gradient-pink-end);
        color: $white;
        padding: $spacing-400;
        border-radius: 1rem;
        @include text(1rem, 800, 1.2);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        padding: $spacing-800 $spacing-550;
        position: relative;

        &__img {
            &--mobile {
                display: none;
            }
            &--tablet {
                display: block;
                max-width: 100%;
                position: absolute;
                top: -12rem;
                right: -17.5rem;
                z-index: 10;
            }
        }

        h1 {
            max-width: 60%;
        }

        p {
            max-width: 50%;
        }
    }

    .content {
        padding: $spacing-800 $spacing-550 $spacing-1800;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $spacing-300;
        grid-row-gap: $spacing-700;

        &__callout {
            padding: $spacing-800 $spacing-400 $spacing-500;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        padding: $spacing-800 $spacing-1000 10rem;
        position: relative;

        h1 {
            @include text(3.5rem, 800, 1.2);
            max-width: 50%;
        }

        p {
            max-width: 35%;
        }

        &__img {
            &--tablet {
                display: none;
            }
            &--desktop {
                display: block;
                position: absolute;
                top: -17rem;
                right: -22rem;
            }
        }
    }

    .content {
        padding: $spacing-800 $spacing-1000 $spacing-1600;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $spacing-400;
        align-items: stretch;

        &__callout {
            max-width: 90%;
        }
    }
}