$blue-900: hsl(223, 54%, 16%);
$blue-600: hsl(234, 25%, 52%);

$pink-600: hsl(341, 92%, 62%);
$pink-300: hsl(341, 100%, 83%);

$grey: hsl(232, 10%, 56%);
$white: hsl(0, 0%, 100%);

$gradient-pink-start: hsl(322, 87%, 55%);
$gradient-pink-end: hsl(13, 100%, 64%);

$gradient-purple-start: hsl(237, 100%, 64%);
$gradient-purple-end: hsl(322, 87%, 55%);