@use 'globals' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.header {
    padding: $spacing-200 $spacing-250;
    @include flex(row, center, space-between);

    &__logo {
        height: $spacing-250;
        color: $blue-900;
    }
}

.hero {
    padding: $spacing-800 $spacing-250;
    
    &__content {
        @include flex(column, flex-start, flex-start);
        gap: $spacing-500;
        margin-bottom: $spacing-600;

        &__text {
            h1 {
                @include text(2.5rem, 800, 1.2);
                color: $blue-900;
                margin-bottom: $spacing-300;
            }
            p {
                @include text(1.125rem, 500, 1.5);
                color: $grey;
            }
        }
    }

    &__image {
        background-image: url('../assets/image-hero-mobile.png');
        background-position: center center;
        height: 20rem;
    }
}

.courses {
    padding: $spacing-800 $spacing-250 $spacing-1000 $spacing-250;
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-400;

    &__callout {
        padding: $spacing-400;
        color: white;
        background-image: $gradient-1;
        border-radius: 1rem;
        @include card-shadow;
    }
}

.btn {
    padding: $spacing-200 $spacing-400;
    outline: none;
    border: none;
    border-radius: 1.75rem;
    color: $white;
    @include text(1.125rem, 700, 1.5);

    &--black {
        background-color: $blue-900;
    }

    &--orange {
        background-image: $gradient-1;
    }
}