@use 'variables' as *;

@mixin text($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin card-shadow {
    box-shadow: 0 25px 50px 0 rgb(6, 22, 141, 0.0442);
}