$blue-900: #13183f;
$blue-600: #666ca3;
$pink-600: #f74780;
$pink-300: #ffa7c3;
$grey: #83869a;
$white: #fff;

$gradient-1: linear-gradient(to bottom, #ff6f48, #f02aa6);
$gradient-2: linear-gradient(to bottom, #4851ff, #f02aa6);

$spacing-0: 0rem;
$spacing-100: 0.5rem; //8px
$spacing-150: 0.75rem; //12px
$spacing-200: 1rem; //16px
$spacing-250: 1.25rem; //20px
$spacing-300: 1.5rem; //24px
$spacing-400: 2rem; //32px
$spacing-500: 2.5rem; //40px
$spacing-550: 2.75rem; //44px
$spacing-600: 3rem; //48px
$spacing-700: 3.5rem; //56px
$spacing-800: 4rem; //64px
$spacing-1000: 5rem; //80px
$spacing-1600: 8rem; //128px
$spacing-1800: 9rem; //144px

$breakpoint-tablet: 48rem;
$breakpoint-laptop: 64rem;